*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Vazirmatn',sans-serif;
background:#f7f5ef;
overflow-x:hidden;

}

img{

display:block;
max-width:100%;

}

a{

text-decoration:none;
color:inherit;

}

ul{

list-style:none;

}

button{

border:none;
background:none;
cursor:pointer;

}

.header{

position:fixed;

top:25px;

left:0;

right:0;

z-index:999;

display:flex;

justify-content:center;

}

.nav-wrapper{

width:92%;

max-width:1450px;

height:88px;

background:rgba(255,255,255,.82);

backdrop-filter:blur(18px);

border-radius:70px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 35px;

box-shadow:

0 20px 50px rgba(0,0,0,.08);

}

.logo img{

height:58px;

}

.menu{

display:flex;

gap:45px;

font-size:17px;

font-weight:700;

}

.menu a{

position:relative;

padding:8px 0;

transition:.35s;

}

.menu a::after{

content:"";

position:absolute;

right:0;

bottom:-8px;

width:0;

height:3px;

background:#b98950;

border-radius:20px;

transition:.35s;

}

.menu a:hover::after,

.menu a.active::after{

width:100%;

}

.menu a:hover{

color:#b98950;

}

.header-tools{

display:flex;

gap:12px;

}

.header-tools button{

width:48px;

height:48px;

border-radius:50%;

background:white;

box-shadow:

0 10px 25px rgba(0,0,0,.08);

font-size:18px;

transition:.35s;

}

.header-tools button:hover{

background:#b98950;

color:white;

transform:translateY(-5px);

}
