body { 
    font-family: 'Vazirmatn', sans-serif; 
    background-color: #F8F9FA; 
    -webkit-tap-highlight-color: transparent; 
}
.hide-scroll::-webkit-scrollbar { display: none; }
.zizi-logo { font-family: serif; letter-spacing: -1px; }

/* انیمیشن دکمه‌های شناور */
.pulse-soft { animation: pulse-soft 2.5s infinite; }
@keyframes pulse-soft {
    0% { box-shadow: 0 0 0 0 rgba(166, 11, 11, 0.4); }
    70% { box-shadow: 0 0 0 15px rgba(166, 11, 11, 0); }
    100% { box-shadow: 0 0 0 0 rgba(166, 11, 11, 0); }
}
